//	Variables

$time: .3s;

$font: "GothamPro";
$font-italic: "GothamProItalic";
$font-black: "GothamProBlack";
$font-black-italic: "GothamProBlackItalic";
$font-bold: "GothamProBold";
$font-bold-italic: "GothamProBoldItalic";
$font-light: "GothamProLight";
$font-lighth-italic: "GothamProLightItalic";
$font-medium: "GothamProMedium";
$font-medium-italic: "GothamProMediumItalic";


$hover-color: #a70c5d;
$border-light-color: #dfdfe2;
$text-color: #454545;

$lang-swither-width: 68px;
$lang-swither-height: 34px;
