a{
    color: unset;
    text-decoration: none;
}

strong{
    font-family: $font-bold;
}

.section{
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    color: $text-color;
    padding: 52px 0 0 0;

    &-title{
        font-family: $font-bold;
        text-align: center;
        font-size: 28px;
        text-transform: uppercase;
        margin-top: 0;
        padding-bottom: 16px;
        margin-bottom: 0;
        line-height: 35px;
        position: relative;

        &:after{
            @extend %before;
            width: 40px;
            height: 2px;
            background-color: $hover-color;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-description{
        position: relative;
        text-align: center;
        margin-top: 10px;
        font-family: $font;
        font-size: 15px;
        line-height: 22px;
    }
}

.container{
    width: 1160px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;

    &-light{
        padding-left: 80px;
    }
}

.nav{
    text-transform: uppercase;
    color: #3f4147;
    font-size: 11px;
    margin-right: 116px;
    font-family: $font-medium;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;

    &-item{
        margin-left: 36px;
        transition: $time color;

        &:hover{
            color: $hover-color;
        }
    }
}

.btn{
    @extend %btn;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-family: $font-black;
    background-color: $hover-color;
    height: 50px;
    margin-top: 43px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 30px;
    outline: none;

    &:hover{
        opacity: 0.7;
        transform: scale(1.05);
    }

    &-menu{
        margin-top: 0;
        margin-right: 20px;
        background-color: transparent;
        position: relative;
        height: 20px;
        display: none;

        &:hover{
            span{
                background-color: $border-light-color;
            }
            transform: none;
            opacity: 1;
        }

        &:active{
            box-shadow: none;
        }

        span{
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: $text-color;
            transform-origin: 100% 50%;
            transition: $time;

            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                transform: translateY(-50%);
            }
            &:nth-child(3){
                bottom: 0;
            }
        }

        &-opened{
            overflow: hidden;
            span{
                &:nth-child(1){
                    transform: rotateZ(-45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    transform: rotateZ(45deg);
                }
            }
        }
    }

    &-play{
        position: absolute;
        background-color: #fff;
        color: $hover-color;
        top: 285px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        font-size: 22px;
        margin-top: 0;
        overflow: hidden;

        &:after,
        &:before{
            @extend %before;
            height: 52%;
            width: 200%;
            background-color: $hover-color;
            z-index: -1;
            transition: $time;
            transform: skewX(-50deg);
        }

        &:before{
            bottom: 49%;
            left: 150%;
        }
        &:after{
            top: 49%;
            right: 150%;
        }

        &:hover{
            transform: translateX(-50%);
            opacity: 1;
            color: #fff;
            &:before{
                left: 0;
            }
            &:after{
                right: 0;
            }
        }

        &:active{
            pointer-events: none;
            transform: translateX(-50%) scale(10);
            opacity: 0;
            visibility: hidden;
            background-color: $hover-color;
        }
    }

    .circle{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #fff;
        line-height: 22px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
        margin-right: 15px;
    }
}

.lang-switcher{
    height: $lang-swither-height - 4px;
    width: $lang-swither-width - 4px;
    border-radius: 34px;
    border: 2px solid $border-light-color;
    position: relative;
    overflow: hidden;
    z-index: 99;

    &-checkbox{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 99;
        margin: 0;
        padding: 0;

        &:checked +.labels{
            left: -23px;
        }
    }

    .labels{
        position: absolute;
        left: 9px;
        height: 100%;
        width: 78px;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        z-index: 0;
        color: $hover-color;
        font-family: $font-black;
        font-size: 12px;
        transition: $time left;

        &:after{
            @extend %before;
            height: 18px;
            width: 18px;
            border-radius: 18px;
            background-color: $border-light-color;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}